body {   
    background-color: slategray;
}


h1 {
  color: black;
  font-weight: bold;
  font-size: 75px;
  text-align: center;
  border-bottom: 6px solid black;
}


h2 {
  color: black;

p {
  font-family: verdana;
  font-size: 20px;
  color: black;
  max-width: 690px
}
