body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 75px;
  position: relative;
  bottom: 610px;
  left:380px;
}

h2 {
  color: black;
  text-align: left;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: left;
}

h5 {
  color: white;
  text-align: center;
  position: relative;
  bottom: 660px;
  left: 146px;
  font-size: 25px;
}
