body {   
    background-color: slategray;
}


.title {
  color: black;
  font-weight: bold;
  font-size: 75px;
  text-align: center;
  border-bottom: 6px solid black;
}


h2 {
  color: black;
  border-bottom: 3px solid black;
  text-align: center;
    
    
 h3 {
   text-align: center;
   border-bottom: 3px solid black;
   color: black;
        
}
    
    
    /* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}





    



